<h1>Listing content_images</h1>

<table>
  <tr>
  </tr>

<% @content_images.each do |content_image| %>
  <tr>
    <td><%= link_to 'Show', content_image %></td>
    <td><%= link_to 'Edit', edit_content_image_path(content_image) %></td>
    <td><%= link_to 'Destroy', content_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content_image', new_content_image_path %>