<h1>New content</h1>

<% form_for(@content, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'fields', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>
