
<!--<ul>
  <li><%=link_to 'コンテンツ',contents_path %></li>
  <li><%=link_to 'カスタマーリスト',customers_path %></li>
  <li><%=link_to 'タグリスト',tags_path %></li>
  <li><%=link_to 'ユーザーリスト',users_path %></li>
</ul>-->