@charset "utf-8";

/* 基本レイアウト */

/* ２カラム */
#sub {
	float: left;
	width: px;
}

#main {
	float:right;
	width: px;
}

/* ３カラム:#mainの中に２カラム */
.center {
	float: left;
	width: px;
}

.side {
	float: right;
	width: px;
}
