<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>Voluntourism</title>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

